
name: CICD

on:
  push:
    branches: [ demos/main ]
  pull_request:
    branches: [ demos/main ]

env:
  ResourceGroupName: MyShuttle-${{ github.job }}
  SiteName: tspascoalmyshuttle-${{ github.job }}
  dbServerName: tspascoalmyshuttle-${{ github.job }}-mysql
  dbUser: dbuser
  artifactsName: artifacts
  integration_tests_path: ${{ github.workspace}}/tests/integration

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '8'
        cache: 'maven'

    - name: Build with Maven
      run: mvn -B package cobertura:cobertura --file pom.xml -DskipITs --batch-mode --quiet

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1
      if: always() && github.actor != 'dependabot[bot]'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        check_name: Tests Results
        files: '**/surefire-reports/TEST-*.xml'
        report_individual_runs: true
        deduplicate_classes_by_file_name: false

    - name: cobertura-report
      uses: tspascoal/cobertura-action@master
      if: always() && github.actor != 'dependabot[bot]'
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        path: '**/coverage.xml'
        minimum_coverage: 5

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2
      with:
        path: |
            **/target/*.war 
            *.sql 
            IaC/**/*.*
        name: ${{ env.artifactsName }}

  pr: 
    if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'

    runs-on: ubuntu-latest
    name: deploy PR ephemeral environment

    # WARNING: If you change some of these values you also need to update the pr-closed workflow
    env:
      ResourceGroupName: MyShuttle-pr

    needs: [build]
    
    steps:
      - run: |
          dbPassword=$(</dev/urandom tr -dc '1234567890!*%@#$%abcdefghijklmnopqrstuvxzABCDEFGHIJKLMNOPQRSTUVXZ' | head -c20)
          dbPassword=$dbPassword$(</dev/urandom tr -dc '!*%@#$%' | head -c4)
          echo "dbPassword=$dbPassword" >> $GITHUB_ENV
          echo "::add-mask::$dbPassword"
        name: generate random db password

      - run: |
          prNumber=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          echo "ResourceGroupName=${{ env.ResourceGroupName }}-$prNumber" >> $GITHUB_ENV 
          
          # WARNING: if you change this, you also need to keep pr-closed workflow in sync
          echo "SiteName=${{ env.SiteName }}-pr$prNumber" >> $GITHUB_ENV 
          echo "dbServerName=${{ env.dbServerName }}-pr$prNumber" >> $GITHUB_ENV           
          echo "prNumber=$prNumber" >> $GITHUB_ENV 
        name: update variables for dynamic environment

      # we need the local actions and integration tests
      - uses: actions/checkout@v2

      - uses: ./actions/provision-and-deploy
        id: deployWebApp
        with:
          dbServerName: ${{ env.dbServerName }}
          dbUser: ${{ env.dbUser }}
          dbPassword: ${{ env.dbPassword }}
          ResourceGroupName: ${{ env.ResourceGroupName }}
          artifactsName: ${{ env.artifactsName }}
          SiteName: ${{ env.SiteName }}
          AzureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
          
      - uses: marocchino/sticky-pull-request-comment@v2
        if: always()
        with:
          header: url
          message: |
            :loudspeaker: We created an ephemeral environment (webapp+db) so you can test the deploy for [my shuttle pr ${{env.prNumber}}](${{ steps.deployWebApp.outputs.webapp-url }}/myshuttledev)

            Don't worry we will delete it once this Pull request is closed. :fire:

  analyze:
    name: Security Scanning
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: java
        queries: +security-and-quality

    - name: Autobuild
      uses: github/codeql-action/autobuild@v1

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

  dev:
    if: github.ref == 'refs/heads/demos/main' 

    runs-on: ubuntu-latest
    name: deploy to DEV    
    
    needs: [build]

    steps:
    # we need the local actions and integration tests
    - uses: actions/checkout@v2

    - uses: ./actions/provision-and-deploy
      with:
        dbServerName: ${{ env.dbServerName }}
        dbUser: ${{ env.dbUser }}
        dbPassword: ${{ secrets.dbPassword_dev }}
        ResourceGroupName: ${{ env.ResourceGroupName }}
        artifactsName: ${{ env.artifactsName }}
        SiteName: ${{ env.SiteName }}
        AzureCredentials: ${{ secrets.AZURE_CREDENTIALS }}

  qa:
    if: github.ref == 'refs/heads/demos/main' 
    
    environment: QA

    runs-on: ubuntu-latest
    name: deploy to QA
    
    needs: [dev]

    steps:
    # we need the local actions and integration tests
    - uses: actions/checkout@v2

    - uses: ./actions/provision-and-deploy
      with:
        dbServerName: ${{ env.dbServerName }}
        dbUser: ${{ env.dbUser }}
        dbPassword: ${{ secrets.dbPassword_dev }}
        ResourceGroupName: ${{ env.ResourceGroupName }}
        artifactsName: ${{ env.artifactsName }}
        SiteName: ${{ env.SiteName }}
        AzureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
